@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
  margin: 0;
  user-select: none;
  font-family: "Handlee";
}

#bunnyspace {
  background-image: url("./images/grass3c.jpg");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

#container {
  position: absolute;
  top: 1%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.textbox {
  position: relative;
  background-color: cornsilk;
  padding: 0.5rem;
  margin: 0.5rem;
  border: darkgreen solid 0.2rem;
  border-radius: 0.3rem;
  text-align: center;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

.textbox p {
  margin: 0;
}

.textbox.arrow::after {
  /* here, ::after creates a spare element after anything that has classes textbox & arrow*/
  content: "";
  position: absolute;
  top: 3.125em;
  background: linear-gradient(
    to bottom right,
    transparent 30%,
    cornsilk 30% 100%
  );
  border: darkgreen solid;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.6em;
  transform: rotate(45deg);
}

#countdown {
  font-size: 2em;
}

#start {
  position: absolute;
  top: -70%;
  animation: bounce-start 1s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

#lives {
  position: absolute;
  bottom: 0;
  right: 0;
}

#lives img {
  width: 8em;
  cursor: pointer;
}

.rabbit {
  position: absolute;
  cursor: pointer;
  min-height: 10%;
  animation: move var(--travel-time) forwards linear, bounce 1s ease-in;
}

#end {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: inline-block;
  background-color: rgb(73, 143, 73);
  margin: 1rem 1rem 0.6rem 1rem;
  border: 0.1rem solid darkgreen;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  color: cornsilk;
  text-align: center;
  font-size: 1rem;
  font-family: "Handlee";
  cursor: pointer;
}

#congrats {
  margin: 1rem 0 0 0;
  color: darkgreen;
  font-size: 2.5rem;
}
#result {
  font-size: 1.5rem;
}

@keyframes move {
  to {
    left: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  12% {
    transform: translateY(-60%);
  }
  24% {
    transform: translateY(-40%);
  }
  36% {
    transform: translateY(-2%);
  }
  54% {
    transform: translateY(-24.98%);
  }
  74% {
    transform: translateY(-1.63%);
  }
  82% {
    transform: translateY(-6.25%);
  }
  92% {
    transform: translateY(-12%);
  }
  96% {
    transform: translateY(-5.54%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes bounce-start {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(0.5em);
  }
  100% {
    transform: translateY(0em);
  }
}
