@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  user-select: none;
  font-family: "Handlee", "Arial", sans-serif;
  box-sizing: border-box;
}

#app-container {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

#bunnyspace {
  background-image: url("./images/grass.jpg");
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; /*because bunnyspace has to be offset parent for the bunnies*/
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#game-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 100vh;
  width: max-content;
}

.textbox {
  position: relative; /*set as offset parent for arrow*/
  background-color: cornsilk;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem 0 0.3rem;
  border: darkgreen solid 0.2rem;
  border-radius: 0.3rem;
  text-align: center;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.textbox p {
  margin: 0;
}

.textbox.arrow::after {
  /* here, ::after creates a spare element after anything that has classes textbox & arrow*/
  content: "";
  position: absolute;
  top: 3.125em;
  background: linear-gradient(
    to bottom right,
    transparent 30%,
    cornsilk 30% 100%
  );
  border: darkgreen solid;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.6em;
  transform: rotate(45deg);
}

#countdown {
  font-size: 2em;
}

#countries {
  overflow-y: auto;
  max-height: 25vh;
}

#country-table table {
  text-align: left;
  width: 100%;
}

#country-table tr td:nth-of-type(3) {
  text-align: right;
  padding-left: 1em;
}

#country-table tr td:nth-of-type(1) {
  width: 2em;
}

#own-country table {
  border-top: darkgreen solid 0.1rem;
}

#lives {
  position: absolute;
  bottom: 0;
  right: 0;
}

#lives img {
  width: 6em;
  cursor: pointer;
}

#start {
  position: absolute;
  top: -6em;
  left: -1.5em;
  animation: bounce-start 1s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rabbit {
  position: absolute;
  cursor: pointer;
  user-select: none; /*for brave browser(?) */
  min-height: 10%;
  animation: move var(--travel-time) forwards linear, bounce 1s ease-in;
}

.pushable {
  background-color: rgb(51, 99, 51);
  margin: 1rem 1rem 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0;
  cursor: pointer;
}

.front {
  display: block;
  background-color: rgb(73, 143, 73);
  color: cornsilk;
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Handlee";
  transform: translateY(-0.2rem);
}

.pushable:active .front {
  transform: translateY(-0.1rem);
}

.pushable:hover {
  filter: brightness(110%);
}

#congrats {
  margin: 1rem;
  color: darkgreen;
  font-size: 2.5rem;
  font-weight: normal;
}

#result {
  font-size: 1.5rem;
  font-weight: normal;
}

#end p {
  margin: 0.4rem;
}


@keyframes move {
  to {
    left: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  12% {
    transform: translateY(-60%);
  }
  24% {
    transform: translateY(-40%);
  }
  36% {
    transform: translateY(-2%);
  }
  54% {
    transform: translateY(-24.98%);
  }
  74% {
    transform: translateY(-1.63%);
  }
  82% {
    transform: translateY(-6.25%);
  }
  92% {
    transform: translateY(-12%);
  }
  96% {
    transform: translateY(-5.54%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes bounce-start {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(0.5em);
  }
  100% {
    transform: translateY(0em);
  }
}

@media (min-width: 600px) and (min-height: 480px) {
  #countries {  
    max-height: unset;
  }
}

@media (min-width: 600px) {
  #end, #error {
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 300px) {
  #lives {
    font-size: 0.75rem;
  }
  #start {
    font-size: 1rem;
  }
  #congrats {
    font-size: 2rem;
  }
}
